<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="game605.mapper.ImginfoMapper">

    <sql id="fields">
        SELECT id,path,img,size,title,author_id,author_name,width,height,hide,create_date,update_date,created_by,updated_by,remark
        FROM imginfo
    </sql>

    <insert id="insertImginfoSeq">
        INSERT INTO imginfo_sequence VALUES (NULL)
    </insert>

    <select id="getNextImginfoId" resultType="java.lang.Integer">
        SELECT LAST_INSERT_ID()
    </select>
    <select id="getImginfoByIds" resultType="game605.bean.Imginfo">
        <include refid="fields"/>
         WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getImginfoById" resultType="game605.bean.Imginfo">
        <include refid="fields"/>
         WHERE id = #{id}
    </select>

</mapper>

